body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

.container {
  max-width: inherit !important;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 44px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
    width: auto;
  }
  .nav-item{
    width: -webkit-fill-available; 
  }
}
.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: whitesmoke;
}

.sidebar .nav-link .feather {
  margin-right: 10px;
  margin-left: 10px;
  color: whitesmoke;
}

/* .sidebar #reportDiv .nav-link .feather {
  margin: 10px;
  color: #272837;
} */

/* .sidebar .nav-link.active {
  color: #2470dc;
} */

#toolsTab[aria-expanded="true"] svg {
  color:#FFCE76;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  /* color: inherit; */
  /* stroke-width: 3px; */
  /* color:#daaa1cc9; */
  color: #272837;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */
 .nav>li {
  position: relative;
  display: block;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.sticky-top{
  z-index: 1020;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

/* .form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
} */

/* .form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
} */

/* edited */
#sidebarMenu{
  background-color: #272837;
}
#submitNewTreeDiv{
  background-color: whitesmoke;
}
.nav-item{
  background-color: whitesmoke;
  width: -webkit-fill-available; 
}

.navbar-custom {
  background-color: #272837;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

#navIcon{
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans';
  font-size:x-large;
}
#navLi{
  font-size: medium;
}
#navLi:hover, #navLi:hover span{
  /* background-color: #FFCE76; */
  color: #FFCE76 !important;
}
#navLi a.active{
  /* background-color: #FFCE76; */
  color: #FFCE76 !important;
}
#navText{
  color: #FFCE76;
}
#navIcon:hover{
  color: #FFCE76;
}

#navIconMain{
  /* width: auto;
  height: auto; */
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.insideNavLink{
  margin:15px;
  color: #272837;
  margin-bottom: 30px;

}

textarea::placeholder {
  color:rgba(51, 51, 51, 0.395);
  font-style: italic;
  font-size: small;
}
textarea:focus::placeholder {
  color:rgba(51, 51, 51, 0);
}

.colorpallet{
  margin-left:45px;
  margin-right: 70px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  background-color: #e9e9e9;
  border-radius: 5px;
  width: fit-content;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 15px;
  /* border-width: 2px; */
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle-color{
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 30px;
  border-width: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-square-color{
  width: 40px;
  height: 38px;
  padding: 6px 0px;
  border-radius: 4px;
  border-width: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-square{
  width: 40px;
  height: 40px;
  /* border-width: 2px; */
}

.btnColorShape:focus+.btn, .btnColorShape.active, .btn.show, .btnColorShape:first-child:active, :not(.btn-check)+.btnColorShape:active {

  background-color: #FFCE76 !important;
  /* border-width: 3px !important; */
  }

.btnLineSelect:focus+.btn, .btnLineSelect.active, .btn.show, .btnLineSelect:first-child:active, :not(.btn-check)+.btnLineSelect:active {
  background-color: #FFCE76;
  border-color: #FFCE76 !important;
}

.btnCustom{
  width: 70px !important;
  /* height: 50px !important; */
}

.checkBoxElement:hover {
  background-color: #efcb6fed  !important;
}

.checkBoxElement{
  background-color: #e8e6e6;
}

/*TOOLS TABS*/
.otherToolTab, #toolsTab{
  background-color: #272837;
  padding: 13px;
  /* border-bottom: 0.3px solid whitesmoke; */
  color: whitesmoke;
}
/* #toolsTab[aria-expanded="true"]{
  background-color: #272837;
  color: #e8e6e6;
} */
#toolsTab[aria-expanded="true"]:hover .feather{
  color: #272837;
}
.otherToolTab:hover, #toolsTab:hover{
  background-color: #FFCE76;
  color: #272837;
}
#btnLineContinueIcon, #btnLineDashedIcon {
  /* width: 25px;
  height: 25px; */
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* .form-switch {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
} */

/* .newChildDiv{
  margin-left:10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
} */

#addChildSymbol{
  stroke: green;
}

#removeChildSymbol{
  stroke: red;
}

#canvasContainer{
  margin-right: 2%;
  margin-left: 3%;
}

canvas{
  /* left: 50%;
  top:50%; */
  /* position: absolute; */
  /* transform: translate(-50%,-50%); */
  display: block;
  background-color: #F4F4F4;
  border-radius: 0.5%;
}

h5 span{
  color: #FFCE76;
}

#leftSideBar{
border-top:0.5px solid #1e202e;
}

hr{
  color: lightgray;
}
.hiddenAlert{
  display: none;
}

#alert{
  color: green !important;
}